/* Reinicio el padding y el margin */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Inicialización de las variables como los colores, fuentes, y
  el reinicio de los REM para evitar usar px */
:root{
  --colorPrincipal: hsl(220, 84%, 25%);
  --colorClaro1   : hsl(220, 89%, 45%);
  --colorClaro2   : hsl(220, 89%, 65%);
  --colorClaro3   : hsl(220, 89%, 85%);
  --colorOscuro1  : hsl(220, 78%, 20%);
  --colorOscuro2  : hsl(220, 79%, 15%);
  --colorOscuro3  : hsl(220, 69%, 10%);

  --colorGris1    : hsl(220, 10%, 80%);
  --colorGris1-50 : hsl(220, 10%, 80%,0.5);
  --colorGris2    : hsl(220, 10%, 65%);
  --colorGris2-50 : hsl(220, 10%, 65%, 0.5);
  --colorGris3    : hsl(220, 10%, 50%);
  --colorGris3-50 : hsl(220, 10%, 50%,0.5);
  --colorGris4    : hsl(220, 10%, 35%);
  --colorGris5    : hsl(220, 10%, 20%);
  --colorGris5-80 : hsl(220, 10%, 20%, 0.8);

  --colorBlanco : hsl(220, 12%, 95%);
  --colorOscuro : hsl(220, 12%, 5%);

  --colorVerde    : hsl(128, 80%, 40%);
  --colorAmarillo : hsl(54, 90%, 55%);
  --colorRojo     : hsl(0, 80%, 40%)
}
html{ 
  font-size: 62.5%;
  background-color: var(--colorGris5);
  scroll-behavior: smooth;
  color: var(--colorBlanco);
}
h1,h2,h3{
  font-family: 'Lato', sans-serif;
}
p, span, ul, li, a {
  font-family: 'Merriweather' sans-serif;
  text-decoration: none;
}
button{
  border-width: none;
  border-style: none;
  background-color: transparent;
}

/* Componentes que estarán a lo largo de todo el proyecto, tanto movil como web */
.btn{
  border-radius: 1rem;
  border-style: none;
  margin: 1rem 0;
  padding: 1rem 2rem;
}




/* First mobil */


input{
  padding: 1rem;
  border-radius: 1rem;
  display: inline-block;
  border-style: none;
}

textarea{
  padding: 2rem;
  border-radius: 1rem;
}

main{
  padding: 2rem;
  width: 100vw;
}
label{
  padding: 1rem 0;
}

h1{
  font-size: 3.2rem;
}
h2{
  font-size: 2.4rem;
}
h3{
  font-size: 2rem;
}

.movilTextoPrincipal{
  font-size: 1.8rem;
}
.movilTextoSecundario{
  font-size: 1.6rem;
}

/* Header */

.header{
  width: 100%;
  height: 7.5rem;
  background-color: var(--colorPrincipal);
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  padding:0 2rem;
}
.header h1{
  margin: 0 auto;
  padding: 2rem;
  align-self: center;
}
.header__text{
  padding: 2rem auto;
  font-size: 2.4rem;
}
.navButton{
  padding: 2rem;
  font-size: 4rem;
  color: var(--colorBlanco)
}

.menuMovil{
  padding: 2rem;
  font-size: 4rem;
  color: var(--colorBlanco)
}



.container{
  background-color: var(--colorGris4);
  padding: 2rem;
}
.text-red{
  color: var(--colorRojo)
}
/* Login */
.login{
  margin: auto;
  margin-top: 2rem;
  align-content: center;
  height:100%;
  max-width: 50rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.login__form{
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
}

.login__input{
  width: 100%;
  padding: 1.5rem;
  margin: 1rem 0;
}
.login__buttonSubmit{
  background-color: var(--colorClaro1);
  color: var(--colorBlanco);
  border: solid .1rem  var(--colorPrincipal);
  display: block;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.login__buttonRegister{
  background-color: transparent;
  color: var(--colorBlanco);
  border: solid .1rem  var(--colorBlanco) ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Home */
.button__add{
  background-color: var(--colorVerde);
  color: var(--colorBlanco);
  font-size: 2rem;
  width: 10rem;
}
.button__add__text{
  display: none;
}
/* Agregar producto */
.addProduct{
  margin: auto;
  margin-top: 2rem;
  align-content: center;
  height:100%;
  max-width: 50rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.addProduct__input{
  width: 100%;
  padding: 1.5rem;
  margin: 1rem 0;
}
.addProduct__textArea{
  width: 100%;
  height: 15rem;
  padding: 1.5rem;
  margin: 1rem 0;
}
.addProduct__inputImage{
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  display: block;
  width: 100%;
  height: 10rem;
  border: dashed var(--colorOscuro) .5rem;
}

@media screen and (min-width : 769px) {

  
}